@import url(reset.css);

html{scroll-behavior: smooth;}

body{
  font-family: Familjen Grotesk;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: #222;
  background-color: #fafafa;
}

/* 탑버튼*/
.goto-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}

/* 헤더________________________________ */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #fafafa;
  border: 2px solid #121212;
  z-index: 100;
}
#header-inner{
  width: 1280px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gnb{
  display: flex;
  column-gap: 30px;
}
.gnb a{
  font-size: 28px;
  color: #121212;
}
.searchreal{
  color: #6D6D6D;
  background-color: #fafafa;
  font-size: 18px;
  position: relative;
}
input{
  border: 2px solid #121212;
  background-color: #fafafa;
  padding: 5px 10px;
  font-size: 16px;
}

/* 메인________________________________ */
main{
  width: 1280px;
  height: 716px;
  margin: auto;
  background: url(../image/mainvisual_image.png) no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}
main .logo{
  animation: rotate-ani 5s linear infinite alternate;
  transform-origin: 50% 50%;
  z-index: 1;
}
/* 아이콘 로고 애니메이션 */
@keyframes rotate-ani{
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}
}
/* 디저트 이미지 애니메이션 */
@keyframes peak1-ani{
  0%{
    top: 400px;
    left: 1150px;
  }
  25%{
    top: 120px;
    left: 800px;
  }
  50%{
    top: 550px;
    left: 640px;
  }
  65%{
    top: 230px;
    left: 300px;
  }
  100%{
    top: 700px;
    left: 120px;
  }
}
@keyframes peak2-ani{
  0%, 100%{
    top: 350px;
    left: 150px;
  }
  25%{
    top: 600px;
    left: 500px;
  }
  50%{
    top: 100px;
    left: 400px;
  }
  65%{
    top: 0px;
    left: 0px;
  }
  75%{
    top: 300px;
    left: 100px;
  }
}
@keyframes peak3-ani{
  0%, 100%{
    top: 40px;
    left: 950px;
  }
  25%{
    top: 0px;
    left: 600px;
  }
  50%{
    top: 100px;
    left: 100px;
  }
  65%{
    top: 700px;
    left: 400px;
  }
  75%{
    top: 400px;
    left: 800px;
  }
}
@keyframes peak4-ani{
  0%{
    top: 580px;
    left: 780px;
  }
  25%{
    top: 400px;
    left: 900px;
  }
  50%{
    top: 20px;
    left: 80px;
  }
  75%{
    top: 80px;
    left: 600px;
  }
  100%{
    top: 800px;
    left: 700px;
  }
}
@keyframes peak5-ani{
  0%, 100%{
    top: 140px;
    left: -50px;
  }
  25%{
    top: 100px;
    left: 300px;
  }
  50%{
    top: 400px;
    left: 700px;
  }
  65%{
    top: 100px;
    left: 900px;
  }
  75%{
    top: 80px;
    left: 0px;
  }
}
main div .peak1{
  position: absolute;
  animation: peak1-ani 8s linear infinite alternate;
}
main div .peak2{
  position: absolute;
  animation: peak2-ani 9s linear infinite alternate;
}
main div .peak3{
  position: absolute;
  animation: peak3-ani 8.3s linear infinite alternate;
}
main div .peak4{
  position: absolute;
  animation: peak4-ani 7.8s linear infinite alternate;
}
main div .peak5{
  position: absolute;
  animation: peak5-ani 8.5s linear infinite alternate;
}

/* 섹션1,2,3,4 공통_____________________ */
h2{
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 50px;
  font-size: 80px;
}
h2 p{
  font-size: 70px;
  align-self: flex-end;
}
.bd{
  border: 5px solid #121212;
  width: 1280px;
  margin: auto;
}

/* 섹션1_______________________________ */
#s1{
  width: 1280px;
  height: 1051px;
  background-color: #A4A84E;
  margin: auto;
  position: relative;
}

/* 서울지도 */
.s1-inner{
  width: inherit;
  height: 933px;
  margin: auto;
  background: url(../image/seoulmap.png) no-repeat center;
  position: relative;
  overflow: hidden;
}
.location p{
  color: #fafafa;
  font-size: 30px;
}

/* 위치서열 */
.location .dosan .ds-location{z-index: 1;}
.location .sinsa .si-location{z-index: 2;}
.location .seongsu .se-location{z-index: 3;}
.ds-caption{z-index: 4;}
.si-caption{z-index: 5;}
.se-caption{z-index: 6;}

.location .dosan .ds-loc,
.location .sinsa .si-loc,
.location .seongsu .se-loc{
  width: 25px;
  height: 36px;
  background: url(../image/location_icon.png) no-repeat;
  background-size: cover;
}
.location p{
  width: max-content;
}
.location .dosan p{transform: translate(770px, 570px);}
.location .dosan .ds-loc{transform: translate(770px, 490px);}
.location .sinsa p{transform: translate(650px, 500px);}
.location .sinsa .si-loc{transform: translate(720px, 420px);}
.location .seongsu p{transform: translate(815px, 340px);}
.location .seongsu .se-loc{transform: translate(805px, 260px);}

/* 지도 호버효과 */
.ds-location:hover p,
.si-location:hover p,
.se-location:hover p{color: #CEFF71;}
.ds-location:hover .ds-loc,
.si-location:hover .si-loc,
.se-location:hover .se-loc{
  background-image: url(../image/location_icon_fill.png);
}

/* 스토어 상세뷰 */
.ds-caption,
.si-caption,
.se-caption{
  width: 1280px;
  height: 921px;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 943px;
  transition: 0.35s;
}
/* 호버하면 스토어 상세뷰 보이기 */
.dosan:hover .ds-caption{
  top: 0;
  transition-delay: 0.8s;
}
.sinsa:hover .si-caption{
  top: 0;
  transition-delay: 0.8s;
}
.seongsu:hover .se-caption{
  top: 0;
  transition-delay: 0.8s;
}

.ds-caption-inner,
.si-caption-inner,
.se-caption-inner{
  background-color: #A4A84E;
  width: 1073px;
  height: 922px;
  border: 2px solid #121212;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ds-caption-inner h3,
.si-caption-inner h3,
.se-caption-inner h3{
  font-size: 40px;
  padding: 5px 35px 10px;
  color: #fafafa;
  background-color: #983332;
  border: 4px solid #121212;
  border-radius: 50px;
  width: max-content;
  margin: 60px auto 40px auto;
}
.ds-caption-inner img,
.si-caption-inner img,
.se-caption-inner img{
  display: block;
  margin: auto;
}
.ds-caption-inner .contents p,
.si-caption-inner .contents p,
.se-caption-inner .contents p{
  color: #121212;
  font-size: 24px;
}
.ds-caption-inner .contents .sub-title,
.si-caption-inner .contents .sub-title,
.se-caption-inner .contents .sub-title{display: inline-block;}

.ds-caption-inner .contents .sub-contents,
.si-caption-inner .contents .sub-contents,
.se-caption-inner .contents .sub-contents{
  display: inline-block;
  margin: 0 0 0 28px;
}

/* 도산 상세뷰 문구 위치정렬 */
.ds-caption-inner .contents .add,
.ds-caption-inner .contents .sub{
  position: absolute;
  left: -625px;
}
.ds-caption-inner .contents .add{top: 80px;}
.ds-caption-inner .contents .sub{top: 130px;}

/* 신사 상세뷰 문구 위치정렬 */
.si-caption-inner .contents .add,
.si-caption-inner .contents .sub{
  position: absolute;
  left: -525px;
}
.si-caption-inner .contents .add{top: 150px;}
.si-caption-inner .contents .sub{top: 200px;}

/* 성수 상세뷰 문구 위치정렬 */
.se-caption-inner .contents .add,
.se-caption-inner .contents .sub{
  position: absolute;
  left: -665px;
}
.se-caption-inner .contents .add{top: 310px;}
.se-caption-inner .contents .sub{top: 360px;}

/* 도산, 신사, 성수 버튼 */
.ds-caption-inner .contents .str-btn a,
.si-caption-inner .contents .str-btn a,
.se-caption-inner .contents .str-btn a{
  font-size: 26px;
  color: #fafafa;
  background-color: #121212;
  padding: 5px 35px 10px;
  border: 2px solid #121212;
  border-radius: 50px;
  margin: 24px 0;
  display: inline-block;
  transition: 0.2s;
}

.ds-caption-inner .contents .str-btn a:nth-of-type(2),
.si-caption-inner .contents .str-btn a:nth-of-type(2),
.se-caption-inner .contents .str-btn a:nth-of-type(2)
{margin-left: 30px;}

.ds-caption-inner .contents .str-btn{
  position: absolute;
  top: 775px;
  left: -20px;
  margin: 0 0 0 167px;
}
.si-caption-inner .contents .str-btn{
  position: absolute;
  top: 775px;
  left: -20px;
  margin: 0 0 0 147px;
}
.se-caption-inner .contents .str-btn{
  position: absolute;
  top: 775px;
  left: -20px;
  margin: 0 0 0 172px;
}

/* 버튼 호버효과 */
.ds-caption .str-btn a:hover,
.si-caption .str-btn a:hover,
.se-caption .str-btn a:hover{
  color: #983332;
  background-color: #CEFF71;
}

/* 섹션2_______________________________ */
#s2{
  width: 1280px;
  height: 1068px;
  margin: auto;
  background-color: #C0BCA7;
}
.s2-inner{
  width: inherit;
  height: 949px;
  margin: auto;
  position: relative;
}
.s2-inner img{
  display: block;
  margin: -1px;
}

@keyframes row1-ani{  /* 왼쪽으로 흘러감. */
  0%{transform: translateX(0);}
  100%{transform: translateX(-50%);}
}
@keyframes row2-ani{  /* 오른쪽으로 흘러감. */
  0%{transform: translateX(0);}
  100%{transform: translateX(50%);}
}
.banner-slide{
  width: 1280px;
  overflow: hidden;
}
.banner-slide .row{
  position: relative;
  width: inherit;
  height: 315px;
}
.banner-slide .row .row-inner{
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
}
.banner-slide .row1 .row-inner{
  left: 0;
  animation: row1-ani 10s linear infinite alternate;
}
.banner-slide .row2 .row-inner{
  left: -1875px;
  animation: row2-ani 10s linear infinite alternate;
  border-bottom: 1px solid #121212;
}
.banner-slide:hover .row-inner{
  animation-play-state: paused;
  cursor: pointer;
}

.banner-slide .row:before{left: 0;}
.banner-slide .row:after{
  right: 0;
  transform: rotateY(180deg);
}

.s2-inner .me-caption{
  text-transform: none;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.s2-inner .me-caption h3{
  font-size: 40px;
  margin: 40px auto 22px auto;
}
.s2-inner .me-caption a{
  text-transform: capitalize;
  text-align: center;
  font-size: 36px;
  color: #fafafa;
  background-color: #121212;
  padding: 5px 40px 10px;
  border: 2px solid #121212;
  border-radius: 50px;
  transition: 0.2s;
}
/* 버튼 호버효과 */
.s2-inner .me-caption a:hover{
  color: #983332;
  background-color: #CEFF71;
}


/* 섹션3_______________________________ */
#s3{
  width: 1280px;
  height: 1015px;
  margin: auto;
  background-color: #E8EEEE;
}
.s3-inner{
  width: inherit;
  height: 896px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jennie-main,
.newjeans-main,
.croissant-main{
  display: inline-block;
  margin-right: -6px;
}
.jennie{
  width: 387px;
  height: 628px;
  object-fit: cover;
  background: url(../image/jennie.png) no-repeat;
  background-size: cover;
  transition: 0.35s;
}
.newjeans{
  width: 387px;
  height: 628px;
  background: url(../image/newjeans.png) no-repeat;
  background-size: cover;
  transition: 0.35s;
}
.croissant{
  width: 387px;
  height: 628px;
  background: url(../image/croissant.png) no-repeat;
  background-size: cover;
  transition: 0.35s;
}
/* 이미지 호버효과 */
.jennie-main .jennie:hover{background-image: url(../image/jennie_back.png);}
.newjeans-main .newjeans:hover{background-image: url(../image/newjeans_back.png);}
.croissant-main .croissant:hover{background-image: url(../image/croissant_back.png);}

.s3-inner h3{
  font-size: 30px;
  text-align: center;
  margin: 20px auto 28px;
  border-bottom: 2px solid #121212;
  width: max-content;
}
.s3-inner a{
  text-transform: capitalize;
  display: block;
  width: max-content;
  margin: auto;
  font-size: 24px;
  color: #fafafa;
  background-color: #121212;
  padding: 5px 35px 10px;
  border: 2px solid #121212;
  border-radius: 50px;
  transition: 0.2s;
}
/* 버튼 호버효과 */
.s3-inner a:hover{
  color: #983332;
  background-color: #CEFF71;
}


/* 섹션4_______________________________ */
#s4{
  width: 1280px;
  height: 654px;
  margin: auto;
  background-color: #FEFBAA;
}
.s4-inner{
  width: inherit;
  height: 543px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.s4-inner p{
  width: 1034px;
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.s4-inner .official-insta,
.s4-inner .studio-insta,
.s4-inner .kakao,
.s4-inner .youtube{position: absolute;}

.bd0{
  border: 1.5px solid #121212;
  width: 1280px;
  transform: translateY(-34px);
}
.s4-inner .official-insta{
  bottom: 247px;
  left: 200px;
}
.bd1{
  border: 1.5px solid #121212;
  width: 1280px;
  transform: translateY(36px);
}
.s4-inner .studio-insta{
  bottom: 173px;
  left: 320px;
}
.bd2{
  border: 1.5px solid #121212;
  width: 1280px;
  transform: translateY(106px);
}
.s4-inner .kakao{
  bottom: 99px;
  left: 610px;
}
.bd3{
  border: 1.5px solid #121212;
  width: 1280px;
  transform: translateY(176px);
}
.s4-inner .youtube{
  bottom: 27px;
  left: 410px;
}

.s4-inner a{font-size: 40px;}
.s4-inner img{
  transform: translateY(13px);
  margin-left: 15px;
  transition: 0.2s;
  cursor: pointer;
}
/* 버튼 호버효과 */
.s4-inner img:hover{background-image: url(../image/arrow_fill.png);}


/* 푸터________________________________ */
footer{
  width: 100vm;
  height: 500px;
  text-align: center;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer address{
  font-style: normal;
  color: #fafafa;
  font-size: 24px;
  font-weight: 500;
  margin-top: 50px;
}